@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

.overlay-root {
  background: transparent !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.overlay-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

.overlay-left {
  margin-left: 16px;
}

.overlay-right {
  margin-right: 16px;
}

.overlay-icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
  background: transparent;
}

.overlay-icon.rerolled {
  border: 3px solid dodgerblue;
}

.overlay-icon.locked {
  border: 3px solid gold;
}

.overlay-icon.swappable {
  border: 3px solid #bc00cc;
}

.overlay-icon.played {
  border: 3px solid limegreen;
}

/* TEAMVIEW */

/* Shared teamview style */
.overlay-teamview {
  position: fixed;
  top: 10px;
  display: flex;
  flex-direction: column;
  /* stack vertically */
  gap: 12px;
}

.overlay-teamview-left {
  left: 10px;
  align-items: flex-start;
}

.overlay-teamview-right {
  right: 10px;
  align-items: flex-end;
}

.overlay-teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.overlay-teammate-name {
  font-size: 14px;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  color: white;
  text-shadow:
    -2px -2px 0 #111,
    2px -2px 0 #111,
    -2px 2px 0 #111,
    2px 2px 0 #111
}

.overlay-teammate-ops {
  display: flex;
  flex-direction: row;
  gap: 4px;
}


.overlay-teammate-ops img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.overlay-teammate-ops img.rerolled {
  border: 2px solid dodgerblue;
}

.overlay-teammate-ops img.locked {
  border: 2px solid gold;
}

.overlay-teammate-ops img.swappable {
  border: 2px solid #bc00cc;
}

.overlay-teammate-ops img.played {
  border: 2px solid limegreen;
}