/* default site background */
body:not(.overlay-mode),
html:not(.overlay-mode) {
  margin: 0;
  padding: 0;
  background-color: #111; /* <-- stays for main app */
  color: white;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* overlay mode explicitly transparent */
body.overlay-mode,
html.overlay-mode {
  background: transparent !important;
}


.fullscreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: start;
  justify-content: center;
}

.viewport-scaler {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}